<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.eightbitcloud.internode" android:versionName="3.01"
	android:versionCode="23">
	<application android:icon="@drawable/nodedroid"	android:label="@string/app_name" >
		<activity android:name=".NodeUsage" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".AccountListActivity" android:label="@string/accountlist">
			<intent-filter>
				<category android:name="android.intent.category.PREFERENCE" />
				<action android:name="android.intent.action.INSERT" />
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>
		</activity>

		<activity android:name=".PreferencesActivity" android:label="@string/settingsmenuitem">
			<intent-filter>
				<category android:name="android.intent.category.PREFERENCE" />
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>
		</activity>
 
		<activity android:name=".NoAccountsActivity" android:label="@string/noaccounts">
		</activity>
		
		<activity android:name="com.eightbitcloud.internode.NodeDroidWidgetConfigure" android:label="NodeDroid Widget" android:exported="true">
		</activity>


		<receiver android:name=".NodeDroidWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/usage_appwidget_info" />
		</receiver>
		
		<provider android:name="com.eightbitcloud.internode.data.AccountProvider"
          android:authorities="com.eightbitcloud.internode.accountprovider">
		</provider>
		
		
		<service android:name=".UsageUpdateService"/>
		
		<meta-data android:value="a14c806b710009e" android:name="ADMOB_PUBLISHER_ID" />
	</application>



	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>
</manifest> 